---
import "../styles/global.css";
import "../components/BackNav.astro";
import logo from "../../public/logo.png";
import lootCardBack from "../../public/Images/tutorial/LootCardBack-110x150.png";
import TreasureCardBack from "../../public/Images/tutorial/TreasureCardBack-110x150.png";
import MonsterCardBack from "../../public/Images/tutorial/MonsterCardBack-110x150.png";
import BackNav from "../components/BackNav.astro";
const pageTitle = "Правила";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<img src={logo} class="logo" />
		<BackNav />
		<div class="backGroundText">
			<h1>{pageTitle}</h1>
			<div class="separator"></div>
			<div class="layerText">
				<h1>Геймплей</h1>
				<p>
					Игроки в этой игре будут сражаться с монстрами, чтобы
					получить больше предметов, лута и иногда душ - особенные
					редкие ресурсы. Каждый игрок будет строить свою колоду карт
					лута, которые они могут использовать для улучшения своего
					персонажа и совершения более сильных атак. Однако игра не
					только о борьбе с монстрами, но и о взаимодействии между
					игроками. В игре будут присутствовать возможности создавать
					союзы с другими игроками, обмениваться ресурсами и
					предметами, а также возможность предательства, когда игрок
					может использовать свои карты и навыки, чтобы нанести удар
					другим игрокам и отнять у них души или предметы.
				</p>

				<div class="separator"></div>

				<h1 id="Preparing-for-the-game">Подготовка к игре</h1>

				<p>
					1. Перемешайте колоды Добычи, Сокровищ и Монстров, и
					расположите рядом с каждой из них зону сброса. Если вы
					играете с колодой Комнаты, сделайте то же самое для этой
					колоды. Разместите не менее 100 центов.
				</p>
				<p>
					2. Начните игру с 2 слотов для магазина, 2 слотов для
					монстров и 1 слота для комнаты (если используется колода
					Комнаты). Заполните эти слоты, кладя карты сверху
					соответствующей колоды лицевой стороной вверх. Это будут
					начальные предметы магазина, монстры и комната. Если
					какие-либо карты событий (карты монстров без характеристик)
					попадают в слоты монстров во время подготовки, их следует
					поместить вниз колоды монстров. Продолжайте, пока не
					получите монстра для каждого слота.
				</p>
				<p>
					3. Если вы играете с бонусными душами, случайным образом
					выберите 3 активных бонусных души для игры и положите их
					рядом с игровой площадкой лицевой стороной вверх.
				</p>
				<p>
					4. Раздайте каждому игроку случайную карту персонажа и
					соответствующую стартовую карту предмета. Персонажи начинают
					игру в неактивном состоянии (повернуты боком), а стартовые
					предметы запускают игру в активном состоянии (перевернуты
					вертикально).
				</p>
				<p>
					5. Раздайте каждому игроку по 3 карты добычи (лицевой
					стороной вниз) и по 3 цента.
				</p>
				<p>
					6. Наконец, определите первого игрока: первым ходит "самый
					грустный" игрок! Вы также можете каждый бросить кубик
					(первый ходит тот, кто выбросил наименьшее значение!) или
					использовать любой другой честный метод выбора, если у всех
					одинаково "грустно". Затем начинается игра, и первый игрок
					делает первый ход.
				</p>
				<p>
					Во время игры Four Souls карты могут находиться в различных
					игровых зонах, включая игровое поле, колоду или сброс. Зона
					"в игре" является важной и включает все открытые карты,
					находящиеся на игровом поле, за исключением карт в сбросе.
					Это включает в себя персонажей, предметы и души, которыми
					управляют игроки, а также верхние карты из слотов магазина,
					монстров и комнат (любые карты, закрытые в слотах, не
					считаются в игре). У каждого игрока есть своя зона руки, где
					хранятся их карты лута. Игрок может смотреть только свои
					карты в руке, но любой может подсчитать количество карт в
					руке игрока. Бонусные души считаются вне игры, вместе с
					картами персонажей и стартовыми картами предметов, которые
					не используются.
				</p>

				<div class="separator"></div>

				<h1 id="Start">Начало</h1>

				<p>
					1. Перед началом игры каждый игрок выбирает своего персонажа
					и получает начальные предметы. Затем каждому игроку выдается
					по 3 карты лута и 3 монетки.
				</p>
				<p>
					2. Перемешайте колоды с картами Монстров, Предметов и Лута и
					расположите их на столе.
				</p>
				<p>
					3. Выложите две верхние карты из колоды монстров на стол
					лицевой стороной вверх. Эти карты представляют текущих
					активных монстров.
				</p>
				<p>
					4. Выложите две верхние карты из колоды сокровищ на стол
					лицевой стороной вверх. Эти карты представляют текущие
					предметы, доступные в Магазине.
				</p>
				<p>
					5. Игрок с именем Кайн всегда начинает первым. Если Кайн не
					присутствует, первым ходит игрок с наименьшим значением,
					выбранным при броске кубика.
				</p>
				<p>
					В начале своего хода каждый игрок активирует свои предметы,
					поворачивая их вертикально, затем берет 1 карту лута и
					переходит к основной фазе хода.
				</p>

				<h1>Типы карт</h1>
				<p id="center">Нажмите, чтобы посмотреть</p>

				<img src={lootCardBack} alt="LootCardBack" class="card" />
				<img
					src={TreasureCardBack}
					alt="TreasureCardBack"
					class="card"
				/>
				<img
					src={MonsterCardBack}
					alt="MonsterCardBack"
					class="card"
				/>

				<div class="separator"></div>

				<h1 id="Player-turn">Ход игрока</h1>

				<div class="separator"></div>
				<h1>Фаза начала</h1>

				<p>
					<br />
					Шаг Восстановления. Активный игрок (игрок, чей ход) выпрямляет
					(поднимает) объекты под своим контролем. Срабатывают способности,
					которые срабатывают в начале хода, после чего передаётся приоритет.
					Шаг Добычи. Активный игрок берёт 1 карту добычи, после чего передаётся
					приоритет.
				</p>
				<br />
				<h1>Фаза Действия</h1>
				<p>
					Когда начинается фаза действия, активный игрок получает
					возможность играть карты добычи до конца хода. Во время фазы
					действия активный игрок может: Активировать любые
					способности под своим контролем. Сыграть карту добычи,
					используя свою карту добычи. Объявить атаку. Объявить
					покупку. Завершить ход. Перед каждым из вышеупомянутых
					действий передаётся приоритет. Игроки могут совершить
					максимум одну атаку и одну покупку за ход, по умолчанию.
					Активный игрок может совершить столько действий, сколько он
					хочет на своем ходу.
				</p>
				<br />
				<p>
					Игроки могут объявить атаку, объявить покупку или завершить
					ход только тогда, когда стек пуст – то есть, не в ответ на
					что-либо. Примечание: Большинство персонажей могут сыграть
					вторую карту добычи на своем ходу, используя способность ↷
					своего персонажа. Однако они также могут сохранить заряд
					своего персонажа и активировать его, чтобы сыграть карту
					добычи на ходу другого игрока!
				</p>
				<br />

				<h1>Фаза Завершения</h1>

				<p>
					Срабатывают способности, которые срабатывают в конце хода,
					после чего передаётся приоритет. Активный игрок сбрасывает
					карты до своего максимального размера руки (10 по
					умолчанию). Если монстр погибает в течение хода, активный
					игрок может положить комнату в сброс (если играется с
					колодой комнат). Ход завершается и передаётся следующему
					игроку. Все существа со статистикой HP исцеляются до полного
					здоровья, включая умерших игроков, и способности и эффекты,
					действующие до конца хода, прекращаются.
				</p>
				<h1>Атака</h1>
				<p>
					Когда игрок объявляет атаку, перед тем, как выбрать цель,
					передается приоритет. Активный игрок может атаковать либо
					верхнюю карту колоды монстров, либо одного из монстров в
					слоте монстров. Если игрок атакует колоду монстров, он
					открывает верхнюю карту и помещает ее в слот монстров,
					перекрывая монстра в нем. Если это событие, его способности
					срабатывают при появлении, а затем оно отправляется в сброс
					после их разрешения.
				</p>

				<p>
					Во время атаки атакующий игрок делает броски атаки с помощью
					кубика D6. Если результат броска атаки равен или выше
					показателя уклонения цели, они попадают и наносят боевые
					повреждения. Если результат броска атаки ниже показателя
					уклонения цели, они промахиваются и получают боевые
					повреждения. Атакующий игрок продолжает бросать кубик до тех
					пор, пока либо цель не погибнет, либо сам не погибнет!
				</p>

				<div class="separator"></div>
				<h1 id="Purchase">Покупка</h1>
				<p>
					Перевод: Когда игрок объявляет покупку, прежде чем выбрать,
					что купить, передается приоритет. Затем активный игрок может
					купить либо верхнюю карту колоды сокровищ, либо предмет в
					слоте магазина, за 10 центов, получая контроль над ним.
				</p>
				<div class="separator"></div>
				<h1 id="slots">Заполнение слотов</h1>
				<p>
					Каждый слот магазина, слот монстра и слот комнаты (если вы
					играете с колодой комнат), должен всегда содержать по
					крайней мере одну карту. Когда слот становится пустым, его
					необходимо заполнить верхней картой соответствующей колоды.
				</p>
				<br />
				<p>
					При заполнении слота монстра возможно появление нескольких
					событий подряд. Активный игрок будет продолжать разрешать
					их, пока в слоте не окажется монстр. Количество слотов
					определенного типа может быть расширено во время игры. Любые
					новые слоты, добавленные таким образом, обрабатываются точно
					так же, как и остальные, и также должны быть заполнены,
					когда они становятся пустыми.
				</p>
				<div class="separator"></div>

				<h1 id="Death">Смерть</h1>

				<div class="separator"></div>

				<h1>Смерть монстра</h1>
				<p>
					Когда монстр погибает, активный игрок получает его награды,
					и если у монстра есть значок души, активный игрок также
					получает его в виде души. Если душа не получена, монстр
					перемещается в сброс, а слот монстра, в котором находился
					монстр, затем заполняется, если необходимо.
				</p>

				<h1>Смерть игрока</h1>
				<p>
					Когда игрок умирает, он платит Штраф Смерти. Это означает,
					что он: <br />
					<ul>
						<li>
							Выбирает контролируемый им неисчерпываемый предмет и
							уничтожает его.
						</li>
						<br />
						<li>Сбрасывает карту добычи.</li>
						<br />
						<li>Теряет 1 цент.</li>
						<br />
						<li>
							Деактивирует все свои предметы с символом ↷ и своего
							персонажа. Если умерший игрок был активным игроком,
							ход также переходит к фазе завершения после того,
							как он заплатил Штраф Смерти. Если игрок умирает во
							время атаки, эта атака отменяется.
						</li>
					</ul>
					<div class="BackImage">
						<img
							src="public/Images/tutorial/4.png"
							alt=""
							style="width: 454px;"
							id="adaptiveImage"
						/>
					</div>
					<p>
						Игрок может умереть только один раз за ход. Все игроки,
						включая умерших игроков, исцеляются до полного здоровья
						в конце каждого хода.
					</p>

					<div class="separator"></div>

					<h1 id="Barter">Бартер</h1>

					<p>
						Four Souls - это социальная игра, и игроки призваны
						обмениваться ¢ и услугами друг с другом во время игры.
						Любое количество ¢ может быть обменено на практически
						любую услугу, но для заключения сделки всегда необходимо
						согласие обеих сторон. Игроки не могут обмениваться
						предметами или картами добычи. Торговля не использует
						стек.
					</p>
					<p>
						Например, Игрок 2 может предложить перебросить кости
						Игрока 1, используя одну из своих карт добычи, если
						Игрок 1 даст ему 4¢. Однако намерение, лежащее в основе
						предлагаемой сделки, не всегда должно быть благородным!
						Например, вместо вышеупомянутого Игрок 2 может угрожать
						перебросить кости Игрока 1, если Игрок 1 не даст ему 4¢,
						в ситуации, когда Игрок 1 не захотел бы перебрасывать
						кости.
					</p>

					<p>
						Вы не обязаны выполнять свои обещания, но будьте
						осторожны: если вы нарушите свое слово, вы потеряете
						доверие других и можете сделать себя целью для других
						игроков!
					</p>

					<div class="separator"></div>

					<h1 id="Dice-rolls">Броски костей</h1>
					<p>
						Во время игры игроки часто должны будут бросать кости.
						Все броски выполняются с использованием шестигранного
						кубика (D6), и результат броска никогда не может быть
						выше 6 или ниже 1. При выполнении броска кости:
					</p>
					<br />
					<p>
						Результат броска помещается в стек. Карты добычи и
						способности могут изменять или повторно бросать кость.
						Передается приоритет хода. Срабатывают способности,
						которые активируются при определенном выпавшем числе.
						Если какая-либо из этих способностей изменяет результат
						броска, возвращаемся к шагу 2. Применяются статические
						способности, которые модифицируют результат броска,
						затем бросок разрешается и больше не может измениться.
						Срабатывают способности, которые активируются при
						выпадении определенного числа.
					</p>

					<div class="separator"></div>

					<h1 id="priority">Приоритет</h1>

					<p>
						Приоритет определяет, какой игрок может действовать в
						любой момент (например, сыграть карту добычи или
						активировать способность). Это означает, что игроки
						могут потенциально реагировать на события, происходящие
						в игре, и друг на друга, даже когда не наступила их
						очередь.
					</p>

					<p>
						Когда правила говорят о передаче приоритета, сначала
						приоритет получает активный игрок, затем передается
						между всеми остальными игроками в порядке очереди. Когда
						игрок ставит карту добычи, способность или бросок в
						стек, приоритет передается, начиная с этого игрока, и
						затем продолжается в порядке очереди.
					</p>

					<p>
						Во время нахождения у игрока приоритета, он может
						предпринимать столько (или так мало!) действий
						(например, активировать предмет или сыграть карту
						добычи), сколько ему нужно, прежде чем передать
						приоритет следующему игроку, чтобы иметь возможность
						отреагировать.
					</p>

					<p>
						Игра продолжается только тогда, когда каждый игрок
						передает приоритет по очереди (то есть, когда никто
						больше не хочет делать что-либо): то, что находится в
						верхней части стека, разрешается (его эффект
						выполняется), или игра переходит к следующему шагу или
						фазе.
					</p>

					<p>
						Примечание: Иногда никто не имеет приоритета, например,
						перед шагом "Recharge" в начале хода игрока или после
						шага 1 в конечной фазе. Игроки не могут играть карты
						добычи или способности в эти моменты.
					</p>

					<p>
						Большую часть времени нет необходимости строго следить
						за приоритетом. Только в более сложных ситуациях, когда
						несколько игроков хотят реагировать на одно и то же
						одновременно, например, вам может потребоваться уделить
						этому больше внимания.
					</p>

					<div class="separator"></div>

					<h1 id="Stack">Стэк</h1>

					<p>
						Карты добычи, способности и броски не влияют на игру
						немедленно. Вместо этого они помещаются в стек, где они
						ждут разрешения (покидают стек и выполняют свой эффект).
						Стек - это важное понятие, которое определяет порядок
						действий и позволяет игрокам реагировать друг на друга и
						на саму игру.
					</p>

					<p>
						Каждый добавленный элемент помещается на вершину стека.
						Это означает, что стек разрешается сверху вниз, то есть
						в порядке последним пришел, первым ушел. Это означает,
						что элементы стека разрешаются в обратном порядке, в
						котором они были добавлены.
					</p>

					<p>
						Перед разрешением каждого элемента стека приоритет
						передается между всеми игроками (это означает, что
						игроки могут добавлять элементы на каждом шаге). Однако,
						во время разрешения отдельного элемента, его нельзя
						прервать. Если что-то отменяется, оно удаляется из стека
						без разрешения.
					</p>

					<p>
						Стек может показаться сложным на первый взгляд, но на
						самом деле он довольно интуитивно понятен и станет
						гораздо яснее, когда вы начнете играть в игру. Полезно
						представлять себе стек как физическую колоду карт. Когда
						что-то добавляется в стек, вы складываете "карты" друг
						на друга. Когда начинают разрешаться и покидать стек,
						чтобы узнать, что происходит дальше, вы берете верхнюю
						карту стека и выполняете то, что она говорит. Каждый
						раз, когда вы берете что-то с верхушки, игроки имеют
						возможность положить больше карт. Это продолжается до
						тех пор, пока колода не опустеет, и никто не захочет
						играть больше карт.
					</p>

					<p>
						Игрок 1 активировал способность "Реликвия", которая
						сработала при выпадении на броске кубика значения 1. В
						ответ на это игрок 2 попытался использовать "Ловкость
						Рук", чтобы изменить порядок верхних 5 карт колоды
						добычи (и тем самым выбрать, какую карту добычи получит
						игрок 1), но игрок 1 сыграл карту "Масленое Бобы" на
						"Ловкость Рук". Разрешение происходит в обратном
						порядке: "Масленое Бобы" отменяет способность "Ловкость
						Рук", затем игрок 1 получает карту добычи из "Реликвии".
					</p>

					<h1 id="Win">Победа в игре:</h1>
					<h1>
						Победит тот, кто первым возьмет под контроль 4 души!
					</h1>

					<style></style>
				</p>
			</div>
		</div>
	</body>
</html>
